@charset "utf-8";
html,
body,
/* contents */
#contents{
	margin:20px 10px 20px;
}

h2.pagetitle{
	margin:0px 0px 20px;
	font-size:18px;
	color:#287bec;
	border-bottom:3px solid #287bec;
}

h2.pagetitle:before{
 content:"◆ ";
}

/* sorezore */
h3{
	margin:5px;
	padding:5px;
	background-color:#FFFFEE;
	font-weight:bold;
}

#my-text,
#my2-text {
	margin:5px;
}
/* Toggled State */
.btn { margin:10px; }
#english:checked ~ .wrapper :lang(en) ,
#japanese:checked ~ .wrapper :lang(ja) {
	display: block;
}
#english ~ .wrapper :lang(en),
#english:checked ~ .wrapper :lang(ja),
#japanese ~ .wrapper :lang(ja),
#japanese:checked ~ .wrapper :lang(en) {
	display: none;
}


input.select-lang {
	margin: 1em 1em 1em 0.5em;
}
